.checkboxContainer {
    @include box(100%);
    @extend .flexCenterCenter;
}

.checkbox {
    @include box(2vh);
    border:solid 1px var(--colorText);
    border-radius: 50%;
    cursor:pointer;
    transition:0.3s;
}
.checkbox:hover {
    transform: scale(110%);
    border:solid 1px var(--colorBackground);
}

.checked {
    background-color:var(--color1);
}