body {
    .deleteContainer {
        position: fixed;
        top:0;
        left:0;
        z-index: 100;
        @include box(100%);
        @extend .flexCenterCenter;

        .deleteForm {
            @include box(auto,150px);
            position: relative;
            @extend .flexColumnCenterCenter;
    
            color:var(--colorText);
            background-color: var(--colorBackground);
    
            padding: 25px;
            border-radius: 20px;
    
            .deleteAnswers {
                @include box(100%);
    
                div {
                    font-weight: 800;
                    text-align: center;
                    position: absolute;
                    bottom:-30px;
                    width:85px;
                    padding:20px 0px;
                    border: solid 10px var(--colorBackground);
                    border-radius:50%;

                    background-color: var(--colorText);
                    color:var(--colorBackground);
    
                    cursor:pointer;
                    transition:0.3s;
                }
                div:hover {
                    //background-color: var(--color1);
                    color:var(--colorText);
                }

                .deleteYes {
                    left:35px;
                }
                .deleteYes:hover {
                    background-color: $colorYes;
                }

                .deleteNo {
                    right:35px;
                }
                .deleteNo:hover {
                    background-color: $colorNo;
                }
            }
        }
    }
    
}