main {

    #eventsList {
        position: relative;
        width:90%;
        margin:30px auto auto auto;
        padding-left:20px;
        @extend .flexColumnCenterCenter;

        @include responsive(900px) {
            width:900px;
        }

        #addEventButton {
            align-self: start;
            margin:0 0 15px 0;

            @include responsive(900px) {
                margin:0 0 15px 5%;
            }
    
            font-weight: 800;
    
            padding:1px 8px 1px 8px;
    
            border:solid 2px var(--colorText);
            border-radius: 50px;
            background-color: var(--colorBackground);
    
            cursor:pointer;
    
            transition:0.3s;
        }
        #addEventButton:hover {
            color:var(--colorText);
            background-color: var(--color1);
        }

        article {
            position: relative;
            @include box(100%);
            border:solid 2px var(--colorText);
            border-radius: 20px;
            margin-bottom: 15px;
            padding:10px;
            transition: 0.3s;
            cursor:pointer;
            background-color: var(--color2);

            @include responsive(900px) {
                width:810px;
            }

            div {
                position: absolute;
                top:3%;
                right:3%;

                i {
                    cursor:pointer;
                    transition:0.3s;
                }
                i:hover {
                    color:var(--color1);
                    transform: scale(110%);
                }

                
            }
        }

        article:hover {
            border:solid 2px var(--color1);
        }

        h2 {
            color:var(--colorText);
        }
    }
}