main {

    #eventsList {
        padding-top: 80px;
        position: relative;
        width:90%;
        margin:30px auto auto auto;
        padding-left:20px;
        @extend .flexColumnCenterCenter;

        @include responsive(900px) {
            width:900px;
        }

        #addEventButton {
            z-index: 8;
            align-self: start;
            position: fixed;
            top: 95px;
            left: 50px;
            margin:0 0px 15px 0px;

            @include responsive(900px) {
                margin:0 0 15px 5%;
            }
    
            font-weight: 800;
    
            padding:1px 8px 1px 8px;
    
            border:solid 2px var(--colorText);
            border-radius: 50px;
            background-color: var(--colorBackground);
    
            cursor:pointer;
    
            transition:0.3s;
        }
        #addEventButton:hover {
            color:var(--colorText);
            background-color: var(--color1);
        }

        article {
            position: relative;
            @include box(100%);
            border:solid 2px var(--colorText);
            border-radius: 20px;
            margin-bottom: 15px;
            padding:10px;
            transition: 0.3s;
            background-color: var(--color2);
            @extend .flexColumnAroundCenter;

            @include responsive(900px) {
                width:810px;
            }

            .controlArticle {
                width: 100%;
                @extend .flexEndCenter;

                i {
                    cursor:pointer;
                    transition:0.3s;
                    margin: 5px;
                    &:hover {
                        color:var(--color1);
                        transform: scale(1.1);
                    }
                }
    
            }

            h2 {
                color:var(--colorText);
                font-family: Goldman;
            }

            :where(.seeMore, .seeLess) {
                cursor: pointer;
                margin: 10px;
                align-self: flex-end;

                i { 
                    margin-left: 5px;
                }

                &:hover {
                    color:var(--color1);
                    transform: scale(110%);
                }
            }
            .otherDataDiv {
                padding:5px;
                width: 100%;
                
                .eventDateDiv {
                    margin-top: 15px;
                    overflow: hidden;
                    overflow-x: scroll;
                }
                .eventDateDiv::-webkit-scrollbar {
                    width: 20px;
                }
                .eventDateDiv::-webkit-scrollbar-track {
                    background: var(--color2);
                }
                .eventDateDiv::-webkit-scrollbar-thumb {
                    background-color: var(--colorText);
                    border-radius: 20px;
                    border:solid 7px var(--color2);
                }

                blockquote {
                    font-weight: 500;
                }

                .eventAuthor {
                    margin-top: 15px;
                }

                .eventDateDiv {
                    margin-top: 15px;
                }
            }

        }

        article:hover {
            border:solid 2px var(--color1);
        }
    }
}