footer {
    @include box(100%,5dvh);
    @extend .flexBetweenCenter;

    padding: 0% 5% 0% 5%;

    #socials {
        @include box(55%,100%);
        @extend .flexBetweenCenter;

        div {
            @extend .flexCenterCenter;
            cursor:pointer;
            transition: 0.3s;

            img {
            @include box(25%,50%);
            }

            p {
                text-align: center;
            }
        }
        div:hover {
            transform: scale(110%);
        }
    }

    #becode {
        @include box(20%,100%);
        @extend .flexCenterCenter;

        img {
            height: 40%;

            cursor:pointer;

            transition:0.3s;
        }
        img:hover {
            transform: scale(110%);
        }
    }
}