@use "../extends/_extends_dir";

header {
    @include box(100%,15dvh);
    @extend .flexCenterCenter;
    position: relative;

    h1 {
        font-family: Goldman;
        cursor: cell;

        span {
            transition:0.8s;
        }
        span:hover {
            transform: rotate(360deg);
        }
    }

    #darkmodeButton {
        position:absolute;
        top:10%;
        right:3%;

        height:17%;

        transition:0.3s;

        cursor: pointer;
    }
    #darkmodeButton:hover {
        transform: scale(120%);
    }

    #addEventButton {
        position: absolute;
        bottom:0;
        right:15%;

        font-weight: 800;

        padding:1px 8px 1px 8px;

        border:solid 2px var(--colorText);
        border-radius: 50px;
        background-color: var(--colorBackground);

        cursor:pointer;

        transition:0.3s;
    }
    #addEventButton:hover {
        transform:scale(110%);
        box-shadow: 0px 0px 5px 5px #00000027;
        color:var(--colorBackground);
        background-color: var(--colorText);
    }
}