.modal-section {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(151, 151, 152, 0.54);
    z-index: 10;
    border-radius: 5px;
    @extend .flexColumnCenterCenter;

    .modal-div {
        width: 450px;
        border-radius: 5px;
        background-color: whitesmoke;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        
        .close-div {
            width: 100%;
            padding: 5px;
            @extend .flexRowEndCenter;

            .fa-times {
                color: tomato;
                font-size: 25px;
                cursor: pointer;
                &:hover {
                    color: #ff4000;
                }
            }
        }
    
        form {
            width: 100%;
            @extend .flexColumnAroundCenter;

            label {
                color: black;
                font-weight: bold;
            }

            :where(input, textarea) {
                border-radius: 5px;
                padding: 5px 10px;
                border: 2px black solid;
                background-color: rgb(234, 234, 234);
            }

            :where(input:focus, textarea:focus) {
                background-color: white;
            }

            #input-event-name {
                width: 70%;
            }

            .input-date{
                padding: 5px 10px;
            }

            #input-submit {
                position: relative;
                top: 30px;
                font-weight: bold;
                width: 100%;
                padding: 10px 20px;
                margin-top: 30px;
                border: none;
                background-color: $colorBackgroundLight;
                cursor: pointer;
                &:hover {
                    background-color: $colorBackgroundLight;
                    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                }
            }

            .date-form-div {
                width: 90%;
                height: 150px;
                margin: 15px 30px;
                padding: 10px 20px;
                @extend .flexColumnBetweenStart;
                flex-wrap: wrap;
                gap: 10px;                
            }

            .gestion-date {
                width: 90%;
                @extend .flexRowCenterCenter;
                .add-date {
                    border: none;
                    background-color: transparent;
                    font-weight: bold;
                    cursor: pointer;
                    transition: ease-in-out 0.5s;
                    &:hover {
                        background-color: $colorBackgroundLight;
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    }
                }
            }
        }
    }
}

#button {
    width: 50px;
    height: 30px;
    background-color: aquamarine;
    border: 2px black solid;
}