#toastBox {
    position :absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    z-index: 10;
}

:where(.add-available, .update, .delete, .add-event) {
    padding: 20px;
    background: greenyellow;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    border-radius: 5px;
}