table {
    width:100%;
    border: 1px solid var(--color1);

    
    }

 
        
    



td {
    border: 1px solid var(--color1);

    .checkAvailability {
        @include box(80%);
    }
}

.nameTable {
    border:0px;
}

.participantContainer {
    display:flex;
    gap:15px;
    margin-top: 15px;

    .participantAdd {
        @extend .flexCenterCenter;
        @include box(30px);
        border-radius: 50%;
        color:var(--colorBackground);
        background-color: var(--colorText);
        cursor:pointer;
        transition: 0.3s;
    }
    .participantAdd:hover {
        color:var(--colorText);
        background-color: var(--color1);
    }
}


.change-available {
    margin-top: 5px;
    border: none;
    background-color: var(--colorText);
    color: var(--colorBackground);
    border-radius: 3px;
    margin-left: 5px;
    &:hover {
        cursor: pointer;
    }
}