$colorBackgroundLight:#FFD817;
$colorTextLight:black;
$color1Light:#E06D06;
$color2Light:#F1FFFA;
$color3Light:#56667A;


$colorBackgroundDark:black;
$colorTextDark:#FFD817;
$color1Dark:#E06D06;
$color2Dark:#1f252c;
$color3Dark:#F1FFFA;