$colorBackgroundLight:#FFD817;
$colorTextLight:black;
$color1Light:#E06D06;
$color2Light:#87BCDE;
$color3Light:#95B2B8;


$colorBackgroundDark:black;
$colorTextDark:#FFD817;
$color1Dark:#E06D06;
$color2Dark:#87BCDE;
$color3Dark:#95B2B8;